[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/coder"]
	path = themes/coder
	url = git@github.com:luizdepra/hugo-coder.git
[submodule "themes/coder1"]
	path = themes/coder1
	url = git@github.com:naro143/hugo-coder-portfolio.git
[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = git@github.com:naro143/hugo-coder-portfolio.git
